<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TRT_KCVolume.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TRT_KCVolume.Properties.Settings>
            <setting name="DBServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>demo.thanakrit.j@gmail.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>demo123%</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SenderDisplay" serializeAs="String">
                <value>ทดสอบ</value>
            </setting>
            <setting name="ShiftAStart" serializeAs="String">
                <value>08:00</value>
            </setting>
            <setting name="ShiftAEnd" serializeAs="String">
                <value>20:00</value>
            </setting>
            <setting name="ShiftBStart" serializeAs="String">
                <value>20:00</value>
            </setting>
            <setting name="ShiftBEnd" serializeAs="String">
                <value>08:00</value>
            </setting>
            <setting name="PathExcelTemplateSource" serializeAs="String">
                <value>D:\Programming\3. Win Form\TRT_KCVolume\TRT_KCVolume\bin\Debug\Source</value>
            </setting>
            <setting name="PathExcelExport" serializeAs="String">
                <value>D:\Programming\3. Win Form\TRT_KCVolume\TRT_KCVolume\bin\Debug\Export</value>
            </setting>
        </TRT_KCVolume.Properties.Settings>
    </userSettings>
</configuration>